<!DOCTYPE html>
<html>
  <head>
    <title>Controller model: <%= title %></title>
    <%- stylesheet_link_tag('reset', 'scaffold') %>
    <%- javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'rails', 'application') %>
  </head>
  <body>
    <div class="wrap">
      <%- body %>
    </div>
  </body>
</html>
