[submodule "distr/ejs"]
	path = distr/ejs
	url = git://github.com/visionmedia/ejs.git
[submodule "distr/jade"]
	path = distr/jade
	url = git://github.com/visionmedia/jade.git
[submodule "support/nodeunit"]
	path = support/nodeunit
	url = git://github.com/caolan/nodeunit.git
