[submodule "distr/ejs"]
	path = distr/ejs
	url = git://github.com/visionmedia/ejs.git
[submodule "distr/jade"]
	path = distr/jade
	url = git://github.com/visionmedia/jade.git
[submodule "support/nodeunit"]
	path = support/nodeunit
	url = git://github.com/caolan/nodeunit.git
[submodule "node_modules/coffee-script"]
	path = node_modules/coffee-script
	url = git@github.com:keichii/coffee-script.git
[submodule "node_modules/ejs-ext"]
	path = node_modules/ejs-ext
	url = git@github.com:keichii/ejs-ext.git
[submodule "node_modules/express"]
	path = node_modules/express
	url = git@github.com:keichii/express.git
