h1, h2, h3
  font: 300 24px 'Quicksand', 'Lucida Grande', sans-serif
  margin-bottom: 20px
  display: block
  padding: 10px 20px 10px 20px

  .decimal
    opacity: 0.8
    margin-right: 5px

h1
  font-size: 30px
  text-transform: uppercase

h2
  font-size: 24px
  text-transform: uppercase

h3
  font-size: 18px