body
  background: $main-color-a

h1, h2, h3
  color: $highlight-text-color
  padding: 0 20px 10px 20px
  border-bottom: 1px solid rgba($main-color-b, 0.1)

p, pre
  color: $main-color-b

code
  color: $highlight-text-color

code, pre
  border: 1px solid rgba($main-color-b, 0.1)
  background: $code-pre-background

.style-switch
  background: $main-color-b