html.style-dark
  $highlight-text-color = #fc0243
  $main-color-a = #282828
  $main-color-b = #ffffff
  $code-pre-background = rgba(black, 0.3)

  @import '_styled_objects'

html.style-light
  $highlight-text-color = #fc0243
  $main-color-a = #ffffff
  $main-color-b = #282828
  $code-pre-background = rgba(black, 0.1)

  @import '_styled_objects'