body
  padding: 30px 0 0 50px

.content-wrapper
  width: 650px
  margin: auto

  .style-switch
    position: fixed
    top: 10px
    right: 10px

    width: 20px
    height: 20px
    border-radius: 3px
    cursor: pointer

  p
    font: normal 12px 'Lucida Grande', sans-serif
    padding: 0px 20px 15px 20px
    line-height: 24px

  code, pre
    padding: 2px 4px
    border-radius: 3px

  pre
    padding: 15px
    margin-bottom: 15px

    overflow-x: auto

  .logo
    margin: auto
    display: block
    margin-bottom: 50px

  section
    margin-bottom: 50px

  ul
    font: normal 12px 'Lucida Grande', sans-serif
    margin-bottom: 15px
    margin-left: 50px

  a:hover
    text-decoration: none
