body
  background: $main-color-a

h1, h2, h3
  color: $highlight-text-color
  border-bottom: 1px solid rgba($main-color-b, 0.1)

p, pre
  color: $main-color-b

code
  color: $highlight-text-color

code, pre
  border: 1px solid rgba($main-color-b, 0.1)
  background: $code-pre-background

.style-switch
  background: $main-color-b

.sidebar
  background: $code-pre-background
  border-right: 1px solid rgba($main-color-b, 0.1)
  a
    color: $main-color-b

    &:hover, &.active
      background: $code-pre-background
      color: $highlight-text-color

  .level-0
    > a
      color: $highlight-text-color

ul
  color: $main-color-b

a
  color: $highlight-text-color