h1 Details of model
!= link_to('Edit', path_to.edit_model(model)) + ' '
!= link_to('Delete', path_to.model(model), {method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'})
br
!= link_to('Back to index', path_to.models)
