!!! 5
html
  head
    title= 'Controller model:' + title
    != stylesheet_link_tag('reset', 'scaffold')
    != javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'rails', 'application')
    != csrf_meta_tag()
  body
    - var flash = request.flash('info').pop(); if (flash) {
      div.flash.info= flash
    - }

    - flash = request.flash('error').pop(); if (flash) {
      div.flash.error= flash
    - }

    div.wrap
      != body
