ul.breadcrumb
      li
        a(href='/') Home
        span.divider /
      li
        != linkTo('{{ models }}', pathTo.{{ models }})
        span.divider /
      li.active
        a(href='#') Edit {{ model }}

.page-header
  h1 Edit {{ model }}

- var form = formFor({{ model }}, { action: pathTo.{{ model }}({{ model }}), method: 'PUT', id: "{{ model }}_form", class: 'form-horizontal'});

!= form.begin()
include _form
.form-actions
  != form.submit('<i class="icon-ok icon-white"></i> Update {{ model }}', {class: 'btn btn-primary'})
  span= ' or '
  != linkTo('Cancel', pathTo.{{ model }}({{ model }}), {class: 'btn'})
!= form.end()
