ul.breadcrumb
    li
       a(href='/') Home
       span.divider /
    li
       != linkTo('{{ models }}', pathTo.{{ models }})
       span.divider /
    li.active
       a(href='#') New {{ model }}

.page-header
  h1 New {{ model }}

- var form = formFor({{ model }}, {action: pathTo.{{ models }}, method: 'POST', id: "model_form", class: 'form-horizontal'})

!= form.begin()
include _form
.form-actions
  != form.submit('<i class="icon-ok icon-white"></i>  Create {{ model }}', {class: 'btn btn-primary'})
  span= ' or '
  != linkTo('Cancel', pathTo.{{ models }}, {class: 'btn'})
!= form.end()
