ul.breadcrumb
    li
       a(href='/') Home
       span.divider /
    li
       != link_to('{{ models }}', pathTo.{{ models }})
       span.divider /
    li.active
       a(href='#') Details of {{ model }}

.page-header
  h1 Details of {{ model }}

div(about=path_to.{{ model }}({{ model }}))
  table.table.table-bordered
    tbody
{{ FIELDS }}

.well
  != linkTo('<i class="icon-edit icon-white"></i> Edit', pathTo.edit_{{ model }}({{ model }}), {class: 'btn btn-primary'}) + ' '
  != linkTo('<i class="icon-remove icon-white"></i> Delete', pathTo.{{ model }}({{ model }}), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'})
  span= ' or '
  != linkTo('Back to index', pathTo.{{ models }})
