<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.{{ models }} %>">{{ models }}</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Details of {{ model }}</a></li>
</ul>

<div class="page-header">
    <h1>Details of {{ model }}</h1>
</div>

<table class="table table-bordered">
    <tbody>
        FIELDS
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', pathTo.edit_{{ model }}({{ model }}), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.{{ model }}({{ model }}), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', pathTo.{{ models }}) %>
</div>
