<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome to Railway</title>
        <link href="stylesheets/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
        <link rel="shortcut icon" href="favicon.ico">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Railway</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="hero-unit">
                <h1>Welcome to Railway!</h1>
                <p>A framework for fast-paced application development on Node.</p>
                <p><a target="_blank" href="http://railwayjs.com" class="btn btn-large btn-primary">Get Started at RailwayJS.com</a></p>
            </div>
            <div id="env" style="display: none;">
                <div class="page-header">
                    <h1>Environment</h1>
                </div>
                <div class="row">    
                    <div class="span12">                        
                        <div id="info"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript">
            $(window).load(function(){
                init();
            });
        
            function init() {
                $.ajax({
                    url: '/railway/environment.json',
                    type: 'GET',
                    success: function (data, status, xhr) {
                        load(data);
                    }
                });
            }
        
            function load(data) {
                if (data.forbidden) {
                    return '';
                }
                
                $('#env').show();
                                   
                var html = makeList('Versions', data.versions);
                html += makeList('Settings', data.settings);
                html += makeList('Application', data.application);
                html += makeList('ENV', data.env);

                $('#info').html(html);   
            }
            
            function makeList(title, obj) {
                var res = '<h2>' + title + '</h2>';
                
                res += '<table class="table table-striped table-bordered"><tbody>';
                
                for (var i in obj) {
                    res += '<tr><th class="span3">' + i + '</th><td>' + toS(obj[i]) + '</td></tr>';
                }
                res += '</tbody></table>';
                
                return res;
            }
            
            function toS(obj) {
                if (obj instanceof Array) {
                    return obj.join('<br />');
                } else if (typeof obj === 'object') {
                    var s = [];
                    for (var i in obj) {
                        s.push(i + ': ' + obj[i]);
                    }
                    return s.join(', ');
                } else {
                    return obj;
                }
            }
        </script>
    </body>
</html>




