body {
  padding: 0px;
}
body, table, input, select {
  font-family: Helvetica, Verdana, Arial, Sans-Serif;
  font-size: 14pt;
  line-height: 150%;
  color: #444;
}

h1 {
  line-height: 3em;
  font-size: 1.3em;
}

.helper, .helper * {
  font-size: 12px;
}

a, a:link, a:visited, a:active, a:hover {
  color: #479;
}

.wrap {
  width: 800px;
  margin: 0 auto;
}

.header {
  padding-left: 25px;
  padding-top: 25px;
  height: 50px;
  clear: both;
}

label.error {
  color: #900;
}

.content {
  padding-left: 50px;
  clear: both;
}

.flash {
  padding: 25px;
  margin: 25px;
  float:left;
  clear: both;
}

.flash.error {
  border: 1px solid red;
  background: #fee;
  color: #900;
}

.flash.info {
  border: 1px solid green;
  background: #efe;
  color: #090;
}

a.small {
  font-size: 12px;
}
