fixed-width(val)
    width: val
    max-width: val
    min-width: val

fixed-height(val)
    height: val
    min-height: val
    max-height: val

fixed-size(_width, _height)
    fixed-width(_width)
    fixed-height(_height)